fastapi[standard]==0.115.12
pydantic==2.11.3
pydantic-settings==2.9.1
semantic-kernel==1.32.2
requests==2.32.3
azure-monitor-opentelemetry-exporter==1.0.0b36
python-multipart==0.0.20
azure-identity==1.23.0
async-lru==2.0.5
azure-ai-agents==1.1.0b1
azure-monitor-opentelemetry==1.6.9
